<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/ico/favicon.ico">

    <title>{% block title %}Class Discuss{% endblock %}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "class_discuss_site/css/theme.css" %}">
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">ClassDiscuss</h3>
                    <ul class="nav masthead-nav">
                        <li><a href="/courses">Courses</a></li>
                        <li><a href="/discussions">My Discussions</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>

            <div class="inner cover" id="content">
                {% block content %}{% endblock %}
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>ClassDiscuss - 2014</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>
