{% extends "base.html" %}

{% block title %}Course{% endblock %}

{% block content %}

    {{ course.description }}

    {{ course.instructor }}

    <a href="/discussions/create">
        <button type="button" class="btn btn-primary btn-lg btn-block">Create New Discussion
        </button>
    </a>

    {% if discussions %}
        <table class="table">
            <thead>
            <tr>
                <th>Discussion</th>
                <th>Time</th>
                <th>Attendance</th>
            </tr>
            </thead>
            <tbody>
            {% for discussion in discussions %}
                <tr>
                    <td><a href="/discussions/{{ discussion.id }}/">{{ discussion.name }}</a></td>
                    <td>{{ discussion.datetime.ctime }}</td>
                    <td>{{ discussion.members.count }}/{{ discussion.size }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No discussions are available.</p>
    {% endif %}
{% endblock %}