{% extends "base.html" %}

{% block title %}Course{% endblock %}

{% block content %}

    {{ course.description }}

    {{ course.instructor }}

    <a href="/discussions/create">
        <button type="button" class="btn btn-primary btn-lg btn-block">Create New Discussion
        </button>
    </a>

    {% if groups %}
        <table class="table">
            <thead>
            <tr>
                <th>Discussion</th>
                <th>Time</th>
                <th>Attendance</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td><a href="/discussions/{{ group.id }}/">{{ group.name }}</a></td>
                    <td>{{ group.time.ctime }}</td>
                    <td>{{ group.attendees.count }}/{{ group.size }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No groups are available.</p>
    {% endif %}
{% endblock %}