{% extends "base.html" %}

{% block title %}Course{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">Description: {{ course.description }}</div>
    </div>
    <div class="row">
        <div class="col-md-8">Instructor: {{ course.instructor }}</div>
    </div>

    <br>

    {% if discussions %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Discussion</th>
                <th>Time</th>
                <th>Members</th>
            </tr>
            </thead>
            <tbody>
            {% for discussion in discussions %}
                <tr>
                    <td>{{ discussion.name }}</td>
                    <td>{{ discussion.datetime }}</td>
                    {% if discussion.members.count < discussion.size %}
                        <td>
                            <a href="/discussions/{{ discussion.id }}/">
                                <button type="button"
                                        class="btn btn-success btn-sm">{{ discussion.members.count }}/{{ discussion.size }}</button>
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <button type="button"
                                    class="btn btn-danger btn-sm disabled">{{ discussion.members.count }}/{{ discussion.size }}</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No discussions are available.</p>
    {% endif %}

    <br>
    <a href="/discussions/create">
        <button type="button" class="btn btn-primary btn-info btn-block">Create New Discussion
        </button>
    </a>
{% endblock %}