{% extends "base.html" %}

{% block title %}Discussion{% endblock %}

{% block content %}
    <h2>
        {{ discussion }}
    </h2>

    {% if discussion.organizer.id == user.id %}
        <td>
            <button type="button"
                    class="btn btn-danger btn-sm disabled">{{ discussion.members.count }}/{{ discussion.size }}</button>
        </td>
    {% else %}
        <td>
            <a href="/discussions/{{ discussion.id }}/">
                <button type="button"
                        class="btn btn-danger btn-sm">{{ discussion.members.count }}/{{ discussion.size }}</button>
            </a>
        </td>
    {% endif %}

    {% if messages %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Discussion</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.timestamp }}</td>
                    <td>{{ message.sender }}</td>
                    <td>{{ message.text }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No messages are available.</p>
    {% endif %}

    <form class="form-signin wideInput" role="form" action="/discussions/{{ discussion.id }}/" method="post">
        {% csrf_token %}
        <! Discussion Topic>
        <div class="input-group">
            <span class="input-group-addon">Chat</span>
            <input type="text" name="text" class="form-control" placeholder="Share something with the group!">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-success" type="submit">Send</button>
                    </span>
        </div>
    </form>
{% endblock %}