{% extends "base.html" %}

{% block title %}Groups{% endblock %}

{% block content %}

    <a href="/discussions/create">
        <button type="button" class="btn btn-primary btn-info btn-block">Create New Discussion
        </button>
    </a>

    {% if discussions %}
        <table class="table">
            <thead>
            <tr>
                <th>Course</th>
                <th>Discussion</th>
                <th>Time</th>
                <th>Attendance</th>
            </tr>
            </thead>
            <tbody>
            {% for discussion in discussions %}
                <tr>
                    <td><a href="/courses/{{ discussion.course.id }}/">{{ discussion.course.name }}</a></td>
                    <td><a href="/discussions/{{ discussion.id }}/">{{ discussion.name }}</a></td>
                    <td>{{ discussion.datetime }}</td>
                    <td>{{ discussion.members.count }}/{{ discussion.size }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No discussion are available.</p>
    {% endif %}
{% endblock %}